# Personal Documents
Angel Pulido - WPRs
Arduino
Arduino
Lectures
Instructions
Resources
Syllabus
EE 175.code-workspace
Documents/Essays
Documents/Team Member Evaluations

# PlatformIO
P2P_Heltec-ESP32-V3

# VS Code - Local user settings
.vscode/

# OS - System files
.DS_Store
Thumbs.db

# Secrets - Never share passwords!
include/secrets.h